h1{
    color: bisque;
}
.header{
    background-color: coral;
}
.rabbit{
    font-weight: 900;
    background-color: rgb(5, 138, 143);
}
.turtle{
    background-color: blanchedalmond;
}
.penguin{
    background-color: chocolate;
}